@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* font-family */
html {
  scroll-behavior: smooth;
}
:root {
  --general-font: "Poppins";
}
/* sizes */
:root {
  --nav-height: 35px;
}

/* font sizes */
:root {
  --body-font: 12px;
  --biggest-font: 36px;
  --smallest-font: 8px;
}

/* colors */
:root {
  --dark-blue-nav: #2c2c54;
  --orange: #ffb142;
  --light-blue-config: #706fd3;
  --light-blue-workspace: #b0b0f2;
  --toggle-color: #34ace0;
  --footer-color: black;
}
.fade-in {
  animation: fadeIn 1.25s;
  opacity: 1;
}

@keyframes appearIn-Out {
  0% {
    transform: translate(0px, 0px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: translate(-10px, -10px);
    box-shadow: 3px 40px 40px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: translate(0px, 0px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.appearIn-Out {
  animation: appearIn-Out 0.6s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* for mobile (later) */
/* @media screen and (max-width: ) {
  :root {
    --body-font: ;
    --big-font: ;
    --small-font: ;
    --h-font: ;
  }
} */

/* //BASE */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: var(--general-font);
  font-size: var(--normal-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: none;
}

button:hover {
  cursor: pointer;
}

input {
  outline: none;
}

/* //reusable css */
.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 1rem;
}
section {
  padding: 1.5rem 0;
}

/* nav */
header {
  background-color: var(--dark-blue-nav);
}
.nav {
  display: flex;
  justify-content: space-between;
}
header .container {
  max-width: 1028px;
}

.nav__list {
  display: flex;
  height: var(--nav-height);
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin: 0 1rem;
}
.nav__logo {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

/* home */
.home {
  display: flex;
  padding: 1rem 0;
  min-height: calc(100vh - var(--nav-height));
}
.home__wrapper {
  place-self: center;
  flex: 1;
}
.home__content {
  line-height: 42px;
}
.home__title {
  font-size: var(--biggest-font);
}

.home__descriptions {
}
.home__wrapper {
  display: flex;
  flex-direction: column;
}

.home__btn {
  align-self: flex-end;
  width: 100px;
  color: white;
  height: 40px;
  background: #414170;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* config bar */

.config {
  height: 20vh;
  min-height: 130px;
  background-color: var(--light-blue-config);
}

.config__wrapper {
  display: flex;
  width: 80%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.config .container {
  padding: 0;
}
.config__bar {
  display: flex;
  justify-items: center;
  align-content: center;
  padding: 0.5rem;
}

.config__bar > * {
  margin: 0 1rem;
}

.config__search__wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: auto;
}

.config__search {
  background-color: rgb(228, 215, 215);
  padding: 1rem;
}

.config__multiselect {
  display: flex;
  justify-content: flex-end;
}

/* workspace */
.workspace {
  background-color: var(--light-blue-workspace);
}

/* footer */

footer {
  height: 40px;
  background-color: var(--footer-color);
}
